<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
        <h2>About Us</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum doloremque numquam voluptates dignissimos vero eligendi ea recusandae reprehenderit optio, magni eum deleniti cum architecto itaque, vitae quidem nemo nisi rem.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum doloremque numquam voluptates dignissimos vero eligendi ea recusandae reprehenderit optio, magni eum deleniti cum architecto itaque, vitae quidem nemo nisi rem.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum doloremque numquam voluptates dignissimos vero eligendi ea recusandae reprehenderit optio, magni eum deleniti cum architecto itaque, vitae quidem nemo nisi rem.
        </p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>