@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
    
    *{
      box-sizing: border-box;
    }
    body{
      background-color: #171a21;
      color: #6b7074;
      max-width: 1200px;
      margin: 20px auto;
      padding: 0 20px;
      font-family: 'Noto Serif', serif;
    }
    h1, h2, h3, a, ul{
      margin: 0;
      padding: 0;
      text-decoration: none;
      color: #fbfeff;
    }

    .snippet, .content {
      color: #9b9da0;
    }

    /* nav & footer styles */
    
    .site-title {
      text-align: center;
      text-transform: uppercase;
    }

    .nav-links{
      display: flex;
      justify-content: space-between;
      /* margin-bottom: 60px; */
      padding-bottom: 10px;
      border-bottom: 1px solid #ddd;
      text-transform: uppercase;
      align-items: center;
    }
    nav ul{
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
    nav li{
      list-style-type: none;
      margin-left: 20px;
    }
    nav h1{
      font-size: 3em;
    }
    nav p, nav a{
      color: #fffbfc;
      font-weight: 300;
    }

    .new-blog {
      background-color: #fffbfc;
      color: #171a21;
      padding: 5px;
      border-radius: 2px;
      border: 1px solid;
    }

    .new-blog:hover {
      background-color: transparent;
      border: 1px solid #fffbfc;
      color: #fffbfc;
    }

    .new-icon {
      display: none;
    }

    @media only screen and (max-width: 600px) {
      .new-icon {
        display: inline-flex;
        font-size: 1.5rem;
        margin-right: -1rem;
      }

      .new-icon:hover {
        border-radius: 3px;
        box-shadow: 2px 3px 4px #777;
        transition-duration: 300ms;
        transition-delay: 150ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transform: scale(1.1);
        transform: translateY(0.25rem);
      }

      .new-blog {
        display: none;
      }
    }

    .hero-wrapper {
      background-image: url('./images/background2.jpg');
      height: 500px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      filter: grayscale(80%);
      margin-bottom: 3rem;
      position: relative;
    }

    .hero-wrapper h1 {
      /* display: flex;
      justify-content: end;
      padding: 11rem 4rem; */
      position: absolute;
      right: 3rem;
      top: 40%;
      
    }

    @media only screen and (max-width: 600px) {
      .hero-wrapper {
        height: 200px;
      }

      .hero-wrapper h1 {
        /* font-size: inherit;
        width: 13rem;
        display: inline-grid;
         margin: 4rem 6rem; */
         font-size: inherit;
         right: 2rem;
         top: 40%;
         width: 60%;
         text-align: end;

      }
    }    

    @media only screen and (max-width: 884px) {
      .hero-wrapper h1 {
        position: absolute;
        right: 3rem;
        top: 40%;
        width: 68%;
        text-align: end;

      }
    }

    footer{
      /* position: fixed; */
      color: #777;
      text-align: center;
      margin: 8rem auto 0 auto;
    }
    h2{
      margin-bottom: 40px;
    }
    h3{
      text-transform: capitalize;
      margin-bottom: 8px;
    }
    .content{
      margin-left: 20px;
    }

    @media only screen and (max-width: 600px) {
      .content{
        margin: 0;
      }
    }

    /* index styles */
    .blogs a{
      display: block;
      width: auto;
      margin: 40px 0;
      padding-left: 30px;
      border-left: 6px solid crimson;
      /* border-left: 6px solid crimson; */
    }

    .blogs a:hover {
      border-left: 6px solid transparent;
      border-radius: 1rem;
      box-shadow: 5px 10px rgba(99, 100 ,103, 0.6);
    }
    /* .blogs a:hover h3{ */
      /* color: crimson; */
    /* } */

    .blogs-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: space-around;
      column-gap: 4rem;
    }

    @media only screen and (max-width: 600px) {
      .blogs-container {
        grid-template-columns: 1fr;
        justify-content: flex-start;
      }
    }

    /* details styles */
    .details{
      position: relative;
      margin-bottom: 4rem;
    }
    .delete{
      position: absolute;
      top: 0;
      right: 0;
      border-radius: 3rem;
      padding: 16px;
    }
    .delete:hover{
      cursor: pointer;
      box-shadow: 2px 3px 4px #777;
    }


    /* create styles */
    .create-blog form{
      max-width: 400px;
      margin: 0 auto;
    }
    .create-blog input,
    .create-blog textarea{
      display: block;
      width: 100%;
      margin: 10px 0;
      padding: 8px;
      color: #fbfeff;
      background-color: transparent;
    }
    .create-blog label{
      display: block;
      margin-top: 24px;
    }
    textarea{
      height: 120px;
    }
    .create-blog button{
      margin-top: 20px;
      background: crimson;
      color: white;
      padding: 6px;
      border: 0;
      font-size: 1.2em;
      cursor: pointer;
      border-radius: 2px;
    }

    .create-blog button:hover{
      box-shadow: 2px 3px 4px #777;
    }